{% extends "base.html" %}


{% block content %}
<h1>Welcome to Virtual Rock, Paper, Scissors!</h1>
<hr>
<h2>The classic game like you've never played it before!</h2>
<h3>RULES:</h3>
<p>This is virtual Rock, Paper, Scissors. To begin, two players each simultaneously make a choice between Rock, Paper or Scissors. You can check the game result by simply entering the two choices
    into your search bar in player order following this site's home address, for example: "/rock/scissors/". The result will then be displayed! </p>
    <br>
<p>Alternatively, you could <a href="/play">test your skill against our computer!</a></p>
<br>
<p>Just remember - rock breaks scissors, scissors cut paper and paper covers rock!</p>
{% endblock content %}